@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-blue-bg: #e7f1ea;
  --color-title: #415b7c;
  --shape-blue-bg: #d8dbec;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #ebf1ff;
}
img {
  max-width: 100%;
}

/* Utility */

.container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Main styles */

.card {
  max-width: 385px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: #fff;
  overflow: hidden;
}

.card:hover .hero__oval {
  transform: rotate(10deg) translateY(-70px) scale(1.7);
  transition: transform 0.2s ease-in-out;
}
.card:hover .hero__five-star-container {
  transform: rotate(30deg) translateX(-70px) scale(1.7);
  transition: transform 0.2s ease-in-out;
}
.card:hover .hero__pacman {
  transform: translateY(50px) translateX(40px) rotate(40deg) scale(1.3);
  transition: transform 0.2s ease-in-out;
}

.hero {
  padding: 4em 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--light-blue-bg);
  position: relative;
  overflow: hidden;
}

.hero__oval {
  position: absolute;
  top: 0;
  height: 150px;
  width: 70px;
  background-color: #555;
  border-radius: 50%;
  background: var(--shape-blue-bg);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.hero__five-star-container {
  transform: rotate(20deg);
  width: 50%;
  height: 50%;
  position: absolute;
  left: 20px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.hero__five-star {
  left: -2em;
  position: absolute;
  display: block;
  color: var(--shape-blue-bg);
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--shape-blue-bg);
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.hero__five-star:before {
  border-bottom: 80px solid var(--shape-blue-bg);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.hero__five-star:after {
  position: absolute;
  display: block;
  color: var(--shape-blue-bg);
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--shape-blue-bg);
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.hero__pacman {
  position: absolute;
  bottom: 0;
  right: 5em;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid var(--shape-blue-bg);
  border-left: 60px solid var(--shape-blue-bg);
  border-bottom: 60px solid var(--shape-blue-bg);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.hero__title {
  font-size: 1.8rem;
  letter-spacing: 1.5;
  text-align: right;
  color: var(--color-title);
  z-index: 50;
}

.course-info {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 1em;
  z-index: 50;
  position: relative;
}

.course-info__details {
  display: flex;
  margin-bottom: 8em;
}

.course-info__stats {
  width: 50%;
}

.instructor {
  font-weight: bold;
  margin-top: 0.3em;
  display: inline-block;
}

.course-info__instructor-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.course-info__instructor-img img {
  border-radius: 50%;
}

.level {
}

/*
DESCRIPTION:

You challenge is clone a course card from Scrimba's homepage.

For the layout, you can go grid or flex.

Some extra things to look into:
 - logical properties for margin and padding
 - the new color syntax (for RGB and HSL)
 
 Stretch goals: 
  - Add those fun bubble animations!
  - Create a set of cards where the colors (and other things?) are updated through the use of custom properties

*/

/* Write your code here 👇 */
